<%- layout("./layouts/biolerplate") -%>
  <h1>All Listings</h1>

  <form method="get" action="/listings/new">
    <button>Create New Listing</button>
  </form>

  <div class="container">
    <div class="row">
      <% for(let list of allListings){ %>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" src="<%= list.image || 'https://via.placeholder.com/400x250?text=No+Image' %>" alt="<%= list.title || 'Listing' %>">
            <div class="card-body">
              <p class="card-text">
                <%= list.title || 'Untitled Listing' %><br>
                <%= list.price != null ? list.price.toLocaleString("en-IN") : 'Price not available' %><%= list.price != null ? '/night' : '' %>
              </p>
            </div>
            <li><a href="/listings/<%= list._id %>">show</a></li>
          </div>
        </div>
      <% } %>
    </div>
  </div>
